<div class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <div class="footer-left">
                <i class="far fa-smile-wink"></i>
                <p>2020 - template</p>
            </div>
        </div>
        <div class="footer-social">
            <p><i class="fab fa-facebook-square"></i></p>
            <p><i class="fab fa-instagram"></i></p>
            <p><i class="fab fa-linkedin"></i></p>
        </div>
    </div>
    <div class="footer-bot"></div>
</div>