.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1584936171754-3bd8ccbaa08c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
  background-size: cover;
  color: white;
}
